*, *:before, *:after {
  box-sizing: border-box;
}

*, *:before, *:after *:active *:focus *:hover {
  outline: none;
  outline-offset: 0;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  font-size: 1rem;
}

img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: 700;
}

.d-none {
  display: none;
}

.img-arrow {
  cursor: pointer;
}

li {
  color: #b6cbd0;
}

.container {
  width: 85%;
  max-width: 1024px;
  margin: auto;
}

.section__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 14px;
  color: #334858;
}
/*Стили для header & Стили для верхнего меню*/

.header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  /*background: #ffffff;*/
  z-index: 99;
  background: #ffffff;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px 25px 0px;
}

.header__menu-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0px 17px 0px;
  border-bottom: 1px solid #e0e0e0;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav__item {
  margin-left: 25px;
  font-size: 13px;
  font-weight: 400;
  color: #0879c9;
  text-decoration: none;
}

.nav__item:first-child {
  margin-left: 14px;
}

.nav__item-burger {
  text-decoration: none;
}

.burger-text {
  display: none;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: #0879c9;
}

.header__top-phone {
  display: none;
}

.header__phone-block {
  margin-left: 69px;
}

.header__top-phone-link {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #334858;
}

.header__top-message {
  margin-left: auto;
  margin-right: 40px;
}

.header__message-link,
.header__personal-area-link {
  text-decoration: none;
}

.header__message-icons,
.header__personal-area-icons {
  margin-right: 9px;
}

.header__message-text,
.header__personal-area-text {
  font-size: 13px;
  color: #0879c9;
  font-weight: 300;
  border-bottom: 2px dotted #0879c9;
}

/*Описание меню с логотипом доставкой и корзиной*/

.phone__link-tel {
  display: block;
  margin-bottom: 19px;
  text-decoration: none;
  color: #334858;
  cursor: pointer;
}

.phone__link-tel:last-of-type {
  margin-bottom: 0;
}

.phone__link-img {
  margin-right: 10px;
}

.menu__nav-item {
  margin-right: 63px;
  text-decoration: none;
  color: #0879c9;
}

.menu__nav-item:last-of-type {
  margin-right: 0;
}

.menu__item-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  border-bottom: 2px dotted #0879c9;
}

.menu__item-img {
  margin-right: 12px;
}

.menu__basket-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu__basket-text {
  margin-left: 9px;
  line-height: 20px;
}

.basket__text-top {
  display: block;
  font-size: 15px;
  font-weight: 400;
  color: #334858;
}

.basket__text-bottom {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #334858;
}

.basket__text-size-top {
  font-size: 22px;
  font-weight: 700;
  color: #0879c9;
}

.basket__text-size-bottom {
  font-size: 18px;
  font-weight: 700;
  color: #0879c9;
}

.basket__text-size-bottom {
  font-size: 15px;
}

/*Стили для главной секции*/

.hero {
  position: relative;
  padding-top: 186px;
  margin-bottom: 47px;
}

.hero__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hero__content-wrap {
  width: 100%;
  max-width: 681px;
  margin-left: 19px;
}

.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 14px;
  border: none;
}

.accordion-content {
  max-height: 100%;
  overflow: hidden;
  transform: max-height 0.5s ease-in-out;
}

.rotate-ar {
  transform: rotate(180deg);
}

.animated-acc {
  transform: 1s ease;
}

.accordion__cataloge-text {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 15.6px;
  text-transform: uppercase;
}

.accordion__content-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px;
  font-weight: 600;
  border-top: 1px solid #e0e0e0;
  text-decoration: none;
  color: #334858;
}

.accordion__content-link:hover .arrov-svg {
  color: #0879c9;
  fill: #0879c9;
  background-color: #eff3f6;
  border-top: 1px soilid transparent;
}

.accordion__content-link:hover {
  background-color: #eff3f6;
}

.accordion__content-text:hover {
  color: #0879c9;
}

.accordion__content-text {
  display: block;
  font-weight: 600;
  max-width: 204px;
}

.accordion__content-link-img {
  transform: rotate(90deg);
}

.accordion-wrapper {
  max-width: 290px;
  border: 1px solid #e0e0e0;
  border-radius:5px;
  background-color: #fefefe;
}

.next__cataloge-img {
  margin: auto;
}

/*Стилизация блока с поиском*/
.hero__serch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 681px;
  height: 40px;
  margin-bottom: 22px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  background-color: #fefefe;
}

.hero__search-input-wraper {
  display: flex;
  align-items: center;
  width: 681px;
}

.hero__search-input {
  width: 100%;
  padding: 0px 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #6d85a4;
  border: none;
}

.hero__search-button {
  padding-right: 15px;
}

.hero__search-button button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

/*Стилизация слайдера*/

.hero-slider {
  margin-bottom: 20px;
}

.portfolio {
  padding: 5rem 0
}

.portfolio-content {
  position: relative;
  height: 279px;
  margin: 0 auto;
  display: block
}

.portfolio-item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s
}

.portfolio-item img {
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.portfolio-item-active {
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s
}

.portfolio-btn {
  position: absolute;
  cursor: pointer;
  top: 50%;
  z-index: 5;
  width: 27px;
  height: 27px;
  background-color: rgba(0, 0, 0, .3);
  background-repeat: no-repeat;
  background-size: 34px;
  border-radius: 50%;
  -webkit-transition: background-color .2s;
  transition: background-color .2s
}

.portfolio-btn.prev {
  left: 20px;
  background-image: url(../img/left-arrow.svg);
  background-size: 70%;
  background-position: 25% 50%
}

.portfolio-btn.next {
  right: 20px;
  background-image: url(../img/right-arrow.svg);
  background-size: 70%;
  background-position: 75% 50%
}

.portfolio-btn:hover {
  background-color: rgba(0, 0, 0, .8);
  -webkit-transition: background-color .2s;
  transition: background-color .2s
}

.portfolio-dots {
  position: absolute;
  bottom: 18px;
  right: 27px;
  width: 170px;
  margin: 20px auto 0;
  padding: 8px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 5;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px;
}

.portfolio-dots .dot {
  cursor: pointer;
  height: 9px;
  width: 9px;
  margin: 0 5px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: inline-block;
  -webkit-transition: background-color, -webkit-transform .4s;
  transition: background-color, transform .4s, -webkit-transform .4s
}

.portfolio-dots .dot-active {
  background-color: #ffffff;
  -webkit-transform: scale(1.2);
  transform: scale(1.2)
}

.portfolio-dots .dot:hover {
  background-color: #53c6fe;
  -webkit-transform: scale(1.2);
  transform: scale(1.2)
}

/* Стилизация секции с Преимуществами */
.hero__advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hero__advantages-block {
  max-width: 155px;
  margin: 0px 10px 10px 0px;
  padding: 23px 37px 19px 37px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  background-color: #fefefe;
}

.hero__advantages-block-img {
  display: block;
  margin: auto;
  margin-bottom: 19px;
  text-align: center;
}

.hero__advantages-block-text {
  display: block;
  max-width: 82px;
  margin: auto;
  color: #0879c9;
  font-weight: 600;
  text-align: center;
}

.sidevar__navigation-search {
  display: none;
}

/*Стилизация секции Новости - Section-News*/

.news {
  padding-bottom: 43px;
}

.news__content {
  margin-bottom: 40px;
}

.news__title {
  margin-bottom: 34px;
  text-align: center;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
/*Стилизация карточек*/
.card {
  max-width: 241px;
  padding: 15px 10px 22px 10px;
  border: 1px solid #e0e0e0;
  background-color: #fefefe;
}

.card-rd {
  border-radius: 5px 0px 0px 5px;
}

.card__wrapper {
  max-width: 212px;
  margin: auto;
}

.card__content-img {
  display: block;
  margin: auto;
  margin-bottom: 36px;
}

.card__content-text {
  max-width: 210px;
  margin-bottom: 26px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: #334858;
}

.card__content-old-price {
  display: block;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-decoration: line-through;
  color: #334858;
  letter-spacing: -0.7px;
}

.card__content-price {
  display: block;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #334858;
  letter-spacing: -0.8px;
}

.card__content-price-b {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
}

.card__content-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 21px;
}

.food-counter {
  display: flex;
  align-items: center;
}

.counter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 36px;
  background-color: #eff3f6;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #426592;
  transition: 0,5s ease;
}

.counter-button:hover {
  background: #40a9ff;
  color: #ffffff;
}

.counter {
  font-size: 16px;
  font-weight: 600;
  color: #426592;
  line-height: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

.card__content-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 36px;
  font-size: 14px;
  font-weight: 400;
  color: #fefefe;
  line-height: 24px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #0879c9;
}

.card__content-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__content-compair-link {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: #334858;
}

.card__content-favorites-img,
.card__content-compair-img {
  margin-right: 5px;
}

.card__content-compair-text,
.card__content-favorites-text {
  display: block;
  color: #334858;
  border-bottom: 1px dotted #334858;
}

.card__content-button-active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  height: 36px;
  border: none;
  background-color: #eff3f6;
  border-radius: 5px;
}

.card__content-button-active-text {
  font-size: 12px;
  font-weight: 400;
  color: #334858;
  line-height: 12px;
}

.t-s-bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 12px;
}

.card__content-price-active {
  margin-top: 36px;
  margin-bottom: 36px;
}

.card-rd-r {
  border-radius: 0px 5px 5px 0px;
}

.card__content-img-block {
  position: relative;
}

.card__block-content {
  position: absolute;
  top: 0;
  z-index: 3;
}

.card__block-content-text {
  display: block;
  margin-bottom: 5px;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: 400;
  color: #fefefe;
  border-radius: 5px 0px 5px 0px;
  background-color: #0879c9;
}

.card__block-content-desc {
  display: block;
  max-width: 50px;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border-radius: 5px 0px 5px 0px;
  color: #fefefe;
  background-color: #fbbc05;
}

/*Стилизайия 4 карточек*/

.news__card-w-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 20px 0px;
}
.news__card-w-block:last-of-type {
  margin: 0;
}

.card__w-content {
  position: relative;
  max-width: 470px;
  margin-right: 10px;
}

.card__w-content:last-of-type {
  margin-right: 0;
}

.card__w-overlay {
  position: absolute;
  width: 100%;
  margin: auto;
  bottom: 0;
}

.card__w-overlay-text {
  display: block;
  padding: 17px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
  color: #0879c9;
  background-color: rgba(254, 254, 254, 0.9);
}

/* Стилизация секции Discount - Товары со скидкой*/
.discount {
  margin-bottom: 46px;
}

/* Стили для секции Новости и Акции */

.news-action {
  margin-bottom: 30px;
}

.news-action__wrapprer {
  display: flex;
  justify-content: space-between;
}

.news__content-wrap {
  max-width: 471px;
  margin-right: 15px;
}

.news__content-wrap:last-of-type {
  margin-right: 0;
}

.news__card-border {
  border-bottom: 1px solid #e0e0e0 ;
}

.news__content-wrap-title {
  margin-bottom: 36px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 14px;
  color: #426592;
}

.news__content-wrap-block {
  position: relative;
  width: 471px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  background-color: #fefefe;
}

.news-action__content-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px;
}

.news__content-block-border::after {
  content: '';
  position: absolute;
  top:-16px;
  right: -13px;
  margin: auto;
  display: block;
  width: 1px;
  height: 426px;
  background-color: #e0e0e0;
}

.news__content-block-card {
  position: relative;
  max-width: 205px;
  height: 369px;
  margin-bottom: 25px;
}

.news__block-card-content {
  margin-top: 24px;
}

.news__block-card-date {
  display: block;
  margin-bottom: 20px;
  color: #334858;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.news__block-card-title {
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
  color: #0879c9;
  line-height: 18px;
  text-align: center;
}

.news__block-card-desc {
  display: block;
  margin-bottom: 25px;
  font-size: 14px;
  text-align: left;
  line-height: 15px;
  color: #334858;
}

.news-action__cataloge {
  position: relative;
  padding: 17px 0;
}

.news-action__cataloge::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.news-action__cataloge-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #0879c9;
}

.news-action__cataloge-img {
  margin-left: 10px;
}

/* Стили для секции About */
.about {
  margin-bottom: 24px;
}

.about__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 30px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  background-color: #fefefe;
}

.about__content-images {
  margin-right: 20px;
}

.about__content-descr {
  display: block;
  max-width: 695px;
  font-size: 13px;
  font-weight: 400;
  color: #334858;
}

/*Стилизация footer*/

.footer__conten-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.footer__content-phone-wrap {
  max-width: 280px;
  padding-top: 30px;
  padding-bottom: 32px;
  margin-bottom: 36px;
}

.footer__content-menu-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 580px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.footer__content-block {
  margin-right: 15px;
}

.footer__content-block:last-of-type {
  margin-right: 0;
}

.footer__content-phone {
  margin-bottom: 30px;
}

.phone__content-city-link,
.phone__content-mobile-link {
  display: flex;
  align-items: center;
  color: #334858;
  text-decoration: none;
}

.phone__content-city-text,
.phone__content-mobile-text {
  display: block;
  margin-left: 13px;
  font-size: 18px;
  font-weight: 400;
}

.phone__content-city-link {
  margin-bottom: 27px;
}

.phone__content-city-text {
  margin-top: 16px;
}

.phone-city-dop {
  display: block;
  margin-left: 62px;
}

.footer__content-adress {
  margin-bottom: 26px;
}

.footer__adress-text {
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: #334858;
}

.footer__adress-link,
.footer__adress-email {
  display: block;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}

.footer__adress-link {
  max-width: 119px;
  margin-top: 3px;
  color: #0879c9;
  border-bottom: 1px dotted #0879c9;
}

.footer__adress-email {
  margin-top: 20px;
  color: #334858;
}

.footer__content-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 195px;
}

.footer__content-social-link {
  display: block;
  text-decoration: none;
}

/*Стилизация меню*/
.menu__nav-list {
  list-style: outside;
}

.menu__nav-list-item {
  margin-bottom: 20px;
}

.menu__nav-list-item:last-of-type {
  margin-bottom: 0;
}

.menu__nav-list-link {
  font-size: 13px;
  font-weight: 600;
  color: #0879c9;
  text-decoration: none;
}

.footer__content-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 17px 20px;
}

.info__block-text-w {
  max-width: 190px;
}

.footer__info-block-text {
  display: block;
  font-family: 'Arial Regular', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #334858;
}

.info__block-text-link {
  font-family: 'Arial Regular', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #0879c9;
  text-decoration: none;
}


/* Стилизация нижней навигации */

.footer__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #0879c9;
}

.footer__navigation-cataloge-link {
  display: flex;
  align-items: center;
  font-family: 'Arial Regular', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.footer__navigation-cataloge-text {
  display: block;
  margin-left: 14px;
}

.footer__search {
  width: 217px;
  margin-bottom: 0px;
}

.footer__search-input-wraper {
  width: 217px;
}

.footer__search-button {
  width: 60px;
}

.footer__search-input {
  font-family: "Arial MT", sans-serif;
  font-size: 14px;
}

.footer__navigation-nav-item {
  margin-right: 28px;
  font-size: 14px;
  color: #fefefe;
  text-decoration: none;
}

.footer__navigation-nav-item:last-of-type {
  margin-right: 0;
}

.navigation__nav-item-text {
  border-bottom: 1px dotted #ffffff;
}

.footer__basket-text-top {
  color: #ffffff;
}

.aci-c {
  fill: #0879c9;
}

.arrov-svg {
  fill: #b7cbd1;
}

/* Медиа запросы  Адаптив*/

@media screen and (max-width: 1140px) {
  .hero__content {
    display: block;
  }

  .sidevar__navigation-search {
    display: block;
  }

  .sidevar__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
  }

  .hero__serch {
    width: 481px;
    margin-left: 19px;
    margin-bottom: 0;
  }

  .hero__serch-none {
    display: none;
  }

  .hero-slider {
    margin-bottom: 80px;
  }

  .accordion-content {
    max-height: 0;
  }

  .accordion__cataloge-text {
    font-size: 14px;
  }

  .hero__content-wrap {
    margin-top: 22px;
    max-width: 100%;
    margin-left: 0;
  }

  .news-action__wrapprer {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; 
  }

  .news__content-wrap {
    margin-bottom: 46px;
    margin-right: 15px;
  }

  .news__content-wrap:last-of-type {
    margin-bottom: 0;
  }

  .about__content-descr {
    max-width: 640px;
  }

  .footer__content-phone-wrap {
    margin-right: 15px;
  }
  
  .footer__search {
    width: 217px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
  
  .footer__search-input-wraper {
    width: 217px;
  }

  .footer__navigation-nav-item {
    font-size: 12px;
  }

  .footer__navigation-cataloge-link {
    font-size: 14px;
  }
  
}

@media screen and (max-width: 1070px) {
  .nav__item {
    margin-left: 20px;
  }

  .header__top-message {
    margin-right: 30px;
  }

  .sidevar__navigation {
    margin-bottom: 22px;
  }

  .portfolio-content {
    height: 360px;
  }

  .hero-slider {
    margin-bottom: 20px;
  }

  .footer__content-phone-wrap {
    margin-right: 15px;
  }

  .footer__navigation-nav-item {
    margin-right: 23px;
  }

  .navigation__nav-item-text {
    display: none;
  }
}

@media screen and (max-width: 995px) {
  .nav__item {
    margin-left: 15px;
  }

  .menu {
    display: none;
  }

  .header__top-phone {
    display: block;
    margin: auto;
  }

  .header__top-message {
    margin-right: 25px;
  }

  .header__phone-block {
    display: none;
  }

  .menu__nav-item {
    margin-right: 43px;
  }

  .about__content-descr {
    max-width: 570px;
  }
  
  .footer__content-info-block {
    margin-top: 20px;
  }
}

@media screen and (max-width: 886px) {
  .sidevar__navigation {
    margin-bottom: 22px;
  }

  .portfolio-content {
    height: 330px;
  }

  .hero-slider {
    margin-bottom: 20px;
  }

  .hero__serch {
    width: 400px;
  }

  .card__w-overlay-text {
    font-size: 14px;
  }

  .about__content-descr {
    max-width: 470px;
  }

  .footer__search {
    width: 187px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
  
  .footer__search-input-wraper {
    width: 187px;
  }

  .text-n {
    display: none;
  }
}

@media screen and (max-width: 797px) {
  .portfolio-content {
    height: 270px;
  }

  .about__content-descr {
    max-width: 420px;
  }
}

@media screen and (max-width: 775px) {
  .hero {
    padding-top: 200px;
  }

  .hero__serch {
    width: 325px;
  }

  .hero__search-button {
    width: 25%;
  }

  .header__menu-nav {
    margin: auto;
  }

  .menu__nav-item {
    margin-right: 20px;
  }

  .portfolio-content {
    height: 275px;
  }

  .accordion__cataloge-text {
    font-size: 12px;
  }
  
  .news__card-w-block {
    display: block;
    width: 100%;
  }

  .card__w-content {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .car__w-images {
    width: 100%;
  }

  .card__w-content-m {
    margin-bottom: 0;
  }

  .footer__search {
    width: 187px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
  
  .footer__search-input-wraper {
    width: 187px;
  }

  .footer__navigation {
    padding: 10px 15px;
  }

  .footer__basket-text-top {
    font-size: 16px;
  }

  .footer__basket-text-bottom {
    font-size: 14px;
  }

  .footer__navigation-nav-item {
    margin-right: 16px;
  }

  .footer__navigation-cataloge-text {
    margin-left: 5px;
  }

  .footer__basket-text-top {
    font-size: 12px;
  }

  .footer__search {
    margin-left: 10px;
  }

}

@media screen and (max-width: 640px) {
  .header__message-text,
  .header__personal-area-text {
    display: none;
  }

  .header__top-phone {
    margin-left: 95px;
  }

  .nav__item-burger-img {
    margin-right: 15px;
  }

  .header__top-message {
    margin-right: 70;
    margin-left: 30px;
  }

  .burger-text {
    display: block;
  }

  .nav__item-burger {
    display: flex;
    align-items: center;
  }

  .menu__item-text {
    display: none;
  }

  .portfolio-content {
    height: 464px;
  }

  .portfolio-item img {
    height: 464px;
  }

  .hero__serch {
    width: 321px;
  }

  .hero__search-button button {
    width: 40px;
    height: 40px;
  }

  .accordion-wrapper {
    border: 1px solid #e0e0e0;
  }

  .accordion {
    color: #ffffff;
    border-radius: 5px;
    background-color: #0879c9;
  }

  .aci-c {
    fill: #ffffff;
  }

  .hero__advantages-block {
    max-width: 135px;
    padding: 23px 21px 19px 21px;
  }

  .hero__advantages-block-text {
    font-size: 13px;
    max-width: 77px;
  }

  .about__content-descr {
    max-width: 339px;
  }

  .footer__search {
    width: 187px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
  
  .footer__search-input-wraper {
    width: 187px;
  }

  .footer__search {
    margin-left: 5px;
  }

  .footer__basket-text-top {
    font-size: 11px;
  }

}

@media screen and (max-width: 575px) {
  .header__message-text,
  .header__personal-area-text {
    display: none;
  }

  .header__top-phone {
    margin-left: 70px;
  }

  .header__top-message {
    margin-right: 27;
    margin-left: 30px;
  }

  .burger-text {
    display: block;
  }

  .nav__item-burger {
    display: flex;
    align-items: center;
  }

  .menu__item-text {
    display: none;
  }
}